{% extends "base.html" %}

{% block body_block %}

<h2>Usunąć egzemplarz książki?</h2>
<br>
<h4>Szczegóły egzemplarza książki</h4>
<ul>
        <li class="bookcopy_id"><b>Id kopii: </b>{{bookcopy.id}}</li>
        <li class="bookcopy_is_borrowed"><b>Czy wypożyczona: </b> {{bookcopy.is_borrowed}}</li>
        <br>
        
        <li class="authors">
            <b>Autor: </b>
            {% for author in bookcopy.book.authors.all %}
                {{author.first_name}} {{author.last_name}}
            {% endfor %}
        </li>
        <li class="title"><b>Tytuł: </b> {{bookcopy.book.title}} </li>

        <li class="category"><b>Kategoria: </b>
            {{bookcopy.book.category.category_name}}
        </li>
</ul>

<br>
<form method="POST">
    {% csrf_token %}
    <a href="{% url 'library_app:bookcopy_list' %}" class="btn btn-primary">Powrót</a>
    <input type="submit" class="btn btn-danger" value="Usuń">
</form>

{% endblock %}