{% extends "base.html" %}

{% block body_block %}

<div class="page-title book_detail jumbotron">
    <h2>Szczegóły książki</h2>
    <ul>
        {% if book.image_url %}
          <img src="{{book.image_url}}">
        {% endif %}
        <li class="authors">
            <b>Autor: </b>
            {% for author in book.authors.all %}
                <a href="{% url 'library_app:author_detail' pk=author.pk %}">{{author.first_name}} {{author.last_name}}</a>
            {% endfor %}
        </li>
        <li class="title"><b>Tytuł: </b> {{book.title}} </li>

        <li class="category"><b>Kategoria: </b>
            <a href="{% url 'library_app:category_detail' pk=book.category.pk %}">{{book.category.category_name}}</a>
        </li>

        <li class="publishing_house"><b>Wydawnictwo: </b>
            <a href="{% url 'library_app:publishinghouse_detail' pk=book.publishing_house.pk %}">{{book.publishing_house.name}}</a>
        </li>

        <li class="isbn"><b>ISBN: </b> {{book.isbn}} </li>
        <li class="edition"><b>Wydanie: </b> {{book.edition}} </li>
        <li class="publish_year"><b>Data publikacji: </b> {{book.publish_date}} </li>
        <li class="book_detail_description"><b>Opis: </b> {{book.description|safe|linebreaksbr}} </li>
    </ul>

    
    <div class="book_list_back_link button">
        <a href="{% url 'library_app:book_list' %}"><input type="button" class="btn btn-dark" value="Powrót"></a>
    </div>

    {% if user.is_authenticated and user.is_superuser %}
        <div class="update_book_link button">
            <a href="{% url 'library_app:book_update' pk=book.pk %}"><input type="submit" class="btn btn-warning" value="Edytuj książkę"></a>
        </div>

        <div class="delete_book_link button">
            <a href="{% url 'library_app:book_delete' pk=book.pk %}"><input type="submit" class="btn btn-danger" value="Usuń książkę"></a>
        </div>
    {% endif %}
</div>

{% endblock %}