{% extends "base.html" %}

{% block body_block %}
<div class="container">
    <div class="page-title">
        <h2>Katalog Online</h2>
    </div>
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Tytuł</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Kategoria</th>
                </tr>
            </thead>
            <tbody>

            {% for book in book_list %}
                    <tr>
                        <td><a href="{% url 'library_app:book_detail' pk=book.pk %}">{{book.title}}</a></td>
                        <td>
                            {% for author in book.authors.all %}
                                <a href="{% url 'library_app:author_detail' pk=author.pk %}">{{author}}</a>
                            {% endfor %}
                        </td>
                        <td>{{book.category}}</td>
                    </tr>
            {% endfor %}

            </tbody>
        </table>
</div>
{% endblock %}


