{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body_block %}
    <h1>Dodaj nowy egzemplarz książki</h1>
    <div class="book_create_other_create_links">
        <a class="btn btn-primary" href="{% url 'library_app:book_create' %}">Dodaj książkę</a>
    </div>
   
    <form method="POST" action="{% url 'library_app:bookcopy_create' %}" class="bookcopy-form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Dodaj" class="btn btn-primary btn-large add-obj-btn">
    </form>

{% endblock %}