{% extends "base.html" %}

{% block body_block %}
{% load custom_tags %}
<div class="container">

{% get_publishing_house_book_count publishinghouse as publishing_house_book_count %}
    <h2>Usunąć {{publishinghouse.name}}?</h2>
    <br>

    <h4>Szczegóły wydawnictwa</h4>
    <ul>
        <li class="name"><b>Nazwa: </b> {{publishinghouse.name}} </li>
        <li class="address"><b>Adres: </b> {{publishinghouse.street}} {{publishinghouse.house_number}}, {{publishinghouse.postal_code}} {{publishinghouse.city}}</li>
    </ul>
    <br>
     {% if publishing_house_book_count == 0 %}
        <form method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Usuń">
            <a class="btn btn-dark" href="javascript:history.back()">Powrót</a>
        </form>
    {% else %}
        <h6>Nie można usunąć wydawnictwa jeśli ma przypisane książki</h6>
        <a class="btn btn-dark" href="javascript:history.back()">Powrót</a>
    {% endif %}
</div>
{% endblock %}