<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Biblioteka</title>


    <!-- Bootstrap4 -->
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">

    <script src="{% static 'js/custom_functions.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

    <!-- Wlasny css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">Biblioteka</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'contact' %}">Kontakt</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'regulations' %}">Regulamin</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'library_app:book_list' %}">Katalog online</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'library_app:my_borrow_list' %}">Twoje wypożyczenia</a>
                </li>
                {% endif %}

                
            </ul>
            <ul class="nav navbar-nav ml-auto">
                {% if user.is_authenticated and user.is_superuser %}
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="BorrowBook" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Wypożyczanie
                        </a>
                        <div class="dropdown-menu" aria-labelledby="BorrowBook">
                            <a class="dropdown-item" href="{% url 'library_app:borrow_create' %}">Wypożycz egzemplarz książki</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'library_app:bookcopy_list' %}">Lista egzemplarzy</a>
                            <a class="dropdown-item" href="{% url 'library_app:borrow_list' %}">Lista wypożyczeń</a>
                            <a class="dropdown-item" href="{% url 'library_app:borrow_history_list' %}">Historia wypożyczeń</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="ManageLibrary" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Biblioteka
                        </a>
                        <div class="dropdown-menu" aria-labelledby="ManageLibrary">
                            <a class="dropdown-item" href="{% url 'library_app:book_create' %}">Dodaj książkę</a>
                            <a class="dropdown-item" href="{% url 'library_app:bookcopy_create' %}">Dodaj egzemplarz książki</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'library_app:author_create' %}">Dodaj autora</a>
                            <a class="dropdown-item" href="{% url 'library_app:publishinghouse_create' %}">Dodaj wydawnictwo</a>
                            <a class="dropdown-item" href="{% url 'library_app:category_create' %}">Dodaj kategorię</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'library_app:users_list' %}">Zarządzaj użytkownikami</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'admin:index' %}">Panel administratora</a>
                        </div>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link">Bibliotekarz {{user.first_name}} {{user.last_name}}</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'accounts:logout' %}">Wyloguj</a>
                    </li>
                {% elif user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link">Witaj {{user.first_name}} {{user.last_name}}</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="UserSettings" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Twój profil
                        </a>
                        
                        <div class="dropdown-menu" aria-labelledby="UserSettings">
                            <a class="dropdown-item" href="{% url 'library_app:my_profile' %}">Wyświetl profil</a>
                            <a class="dropdown-item" href="{% url 'library_app:my_statistics' %}">Twoje statystyki</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'accounts:password_reset' %}">Zresetuj hasło</a>
                            
                            {% get_user_profile user as userProfileObj %}
                            <a class="dropdown-item" href="{% url 'library_app:my_profile_update' pk=userProfileObj.id %}">Edytuj dane kontaktowe</a>
                        </div>
                    </li>

                    <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">Wyloguj</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'accounts:login' %}">Zaloguj się</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'accounts:signup' %}">Zarejestruj się</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

         {% block body_block %}{% endblock %}

    <div class="footer" style="margin-bottom: 200px;"></div>


    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>