<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Library</title>


    <!-- Bootstrap4 -->
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/js/bootstrap.min.js' %}">
    <link rel="stylesheet" href="{% static 'js/jquery-3.3.1.min.js' %}">
    <link rel="stylesheet" href="{% static 'js/popper.min.js' %}">

    <!-- Wlasny css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">Biblioteka</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'contact' %}">Kontakt</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'library_app:book_list' %}">Katalog online</a>
                </li>
            </ul>
            <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'accounts:logout' %}">Wyloguj</a>
                </li>
    		{% else %}
    			<li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Zaloguj się</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts:signup' %}">Zarejestruj się</a>
                </li>
    		{% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
         {% block body_block %}{% endblock %}
    </div>
</body>
</html>