{% extends "base.html" %}

{% block body_block %}
<div class="container">
    <h1 class="page-title">Panel Bibliotekarza</h1>
    <p><a class="btn btn-primary" href="{% url 'library_app:book_create' %}">Dodaj nową książkę</a></p>
    <p><a class="btn btn-primary" href="{% url 'library_app:bookcopy_create' %}">Dodaj nowy egzemplarz książki</a></p>
    <p><a class="btn btn-primary" href="{% url 'library_app:author_create' %}">Dodaj autora</a></p>
    <p><a class="btn btn-primary" href="{% url 'library_app:publishinghouse_create' %}">Dodaj wydawnictwo</a></p>
    <p><a class="btn btn-primary" href="{% url 'library_app:category_create' %}">Dodaj kategorię</a></p>

    <br>
    <p><a class="btn btn-primary" href="{% url 'library_app:borrow_list' %}">Lista wypożyczeń</a></p>
    <p><a class="btn btn-primary" href="{% url 'library_app:bookcopy_list' %}">Lista egzemplarzy</a></p>
</div>
{% endblock %}