
.page-title{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.book_detail_description{
    text-justify: auto
}

/* kolor linkow */
a { 
    text-decoration: none; 
    color: black; 
}

h1{
    text-align: center;
}

.signup-form{
    margin-right: auto;
    margin-left: auto;
    width: 50%
}

.login-form{
    margin-right: auto;
    margin-left: auto;
    width: 50%
}

.login-btn{
    width: 100%;
    margin-top: 20px;
}

.sign-up-btn{
    width: 100%;
    margin-top: 20px;
}


